@font-face {
    font-family: 'Etelka Text Pro Bold';
    src: url(./EtelkaTextProBold.otf);
}

@font-face {
    font-family: 'Etelka Text Pro';
    src: url(./EtelkaTextPro.otf);
}

body {
    font-family: 'Etelka Text Pro', Arial;
}

.gn-card .gn-card-heading .gn-md-title a,
.gn-card .gn-card-heading .gn-md-title a:hover {
    font-family: 'Etelka Text Pro Bold', Arial;
    color: white;
}